services:
  backend:
    environment:
      COOKIE_SECURE: "true"
      COOKIE_SAMESITE: "lax"

  nginx:
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.https.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs/fullchain.pem:/etc/nginx/certs/fullchain.pem:ro
      - ./nginx/certs/privkey.pem:/etc/nginx/certs/privkey.pem:ro
